force-app/main/default/flows/CartItemListPricePopulate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>DiscountTypeCheck</name>
        <label>DiscountTypeCheck</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>calculateAmount2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Product Offer</defaultConnectorLabel>
        <rules>
            <name>Percantage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProductOffers.Discount__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Percentage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProductOffers.Discount__r.Expired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CalculateAmountWithDiscount</targetReference>
            </connector>
            <label>Percantage</label>
        </rules>
        <rules>
            <name>Flat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProductOffers.Discount__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProductOffers.Discount__r.Expired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CalculateAmountWithFlatDiscount</targetReference>
            </connector>
            <label>Flat</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOfferAvailable</name>
        <label>IsOfferAvailable</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>calculateAmount1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Discount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProductOffers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>discountCalculate</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.ListPrice__c}-{!$Record.ListPrice__c}*{!GetProductOffers.Discount__r.Discount__c}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>flatDiscountCalculate</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.ListPrice__c}-{!GetProductOffers.Discount__r.FlatDiscount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CartItemListPricePopulate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CartItemListPricePopulate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPriceForCartItem</name>
        <label>getPriceForCartItem</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateListPrice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductOffers</name>
        <label>GetProductOffers</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DiscountTypeCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Offers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>calculateAmount1</name>
        <label>calculateAmount</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.ListPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>calculateAmount2</name>
        <label>calculateAmount</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.ListPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CalculateAmountWithDiscount</name>
        <label>CalculateAmountWithDiscount</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>discountCalculate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CalculateAmountWithFlatDiscount</name>
        <label>CalculateAmountWithFlatDiscount</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>flatDiscountCalculate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateListPrice</name>
        <label>UpdateListPrice</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>IsOfferAvailable</targetReference>
        </connector>
        <inputAssignments>
            <field>ListPrice__c</field>
            <value>
                <elementReference>getPriceForCartItem.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPriceForCartItem</targetReference>
        </connector>
        <object>Cart_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
