force-app/main/default/flows/Order_Status_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>orderIsCancelled</name>
        <label>orderIsCancelled</label>
        <locationX>1458</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>getCancelledOrderItems</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Order is {!$Record.Status__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyoforderiscancelled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>orderIsCreated</name>
        <label>orderIsCreated</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>getOrderItems</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your order has been  created. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyoforderiscreated</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>orderIsdelivered</name>
        <label>orderIsdelivered</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Survey</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Order is {!$Record.Status__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyoforderisdelivered</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>orderIsInProcess</name>
        <label>orderIsInProcess</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Order is {!$Record.Status__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyoforderisinprocess</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>orderIsShipped</name>
        <label>orderIsShipped</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Order is {!$Record.Status__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Bodyoforderisshippedoroutfordelivery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>paymentIsNotCOD</name>
        <label>paymentIsNotCOD</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>isPaymentNotCOD</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Payment Remiender for your {!$Record.Name}  numbered order</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Survey</name>
        <label>Send Survey</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>project_management_survey</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!contactId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>project_management_survey</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>addUpdateCancelledProductRecordToCollection</name>
        <label>addUpdateCancelledProductRecordToCollection</label>
        <locationX>1546</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>cancelledProductionUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateCancelledProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachCancelledProductItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addUpdateProductRecordToCollection</name>
        <label>addUpdateProductRecordToCollection</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>productupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachProductLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEachCancelledProduct</name>
        <label>assignEachCancelledProduct</label>
        <locationX>1546</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>updateCancelledProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachCancelledProductItem.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCancelledProduct.TotalQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledItemInventoryIncrease</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCancelledProduct.RemainingQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledItemRemainingIncrease</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addUpdateCancelledProductRecordToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEachProduct</name>
        <label>assignEachProduct</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>updateProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachProductLoop.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateProduct.TotalQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachProductLoop.Product__r.RemainingQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateProduct.RemainingQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityDecrease</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addUpdateProductRecordToCollection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>one</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Record_Status</name>
        <label>Check Record Status</label>
        <locationX>1150</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>In_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>orderIsInProcess</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>In Process</label>
        </rules>
        <rules>
            <name>Shipped_and_Out_for_Delivery</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out for Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>orderIsShipped</targetReference>
            </connector>
            <label>Shipped and Out for Delivery</label>
        </rules>
        <rules>
            <name>Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>orderIsdelivered</targetReference>
            </connector>
            <label>Delivered</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>orderIsCancelled</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOrderCreated</name>
        <label>isOrderCreated</label>
        <locationX>666</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Record_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yescreated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>iscreatedformula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>statusCreated</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ispaymentmethodNotCOD</name>
        <label>ispaymentmethodNotCOD</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesCOD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>COD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>paymentIsNotCOD</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cancelledItemInventoryIncrease</name>
        <dataType>Number</dataType>
        <expression>{!eachCancelledProductItem.Product__r.TotalQuantity__c}+{!eachCancelledProductItem.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>cancelledItemRemainingIncrease</name>
        <dataType>Number</dataType>
        <expression>{!eachCancelledProductItem.Product__r.RemainingQuantity__c}+{!eachCancelledProductItem.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>iscreatedformula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>quantityDecrease</name>
        <dataType>Number</dataType>
        <expression>{!eachProductLoop.Product__r.RemainingQuantity__c}-{!eachProductLoop.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>recordLinks</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_510})) &amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Order Status Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Status Automation</label>
    <loops>
        <name>eachCancelledProductItem</name>
        <label>eachCancelledProductItem</label>
        <locationX>1458</locationX>
        <locationY>755</locationY>
        <collectionReference>getCancelledOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignEachCancelledProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateCancelledProductsQuantity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>eachProductLoop</name>
        <label>eachProductLoop</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <collectionReference>getOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignEachProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateProductsQuantity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCancelledOrderItems</name>
        <label>getCancelledOrderItems</label>
        <locationX>1458</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eachCancelledProductItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderItems</name>
        <label>getOrderItems</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eachProductLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>statusCreated</name>
        <label>statusCreated</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>orderIsCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCancelledProductsQuantity</name>
        <label>updateCancelledProductsQuantity</label>
        <locationX>1458</locationX>
        <locationY>1163</locationY>
        <inputReference>cancelledProductionUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateProductsQuantity</name>
        <label>updateProductsQuantity</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>ispaymentmethodNotCOD</targetReference>
        </connector>
        <inputReference>productupdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isOrderCreated</targetReference>
        </connector>
        <object>Order1__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyoforderiscancelled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Customer__r.FirstName},&lt;/p&gt;&lt;p&gt;The {!$Record.Name} order is {!$Record.Status__c}. please see the detail information below and reason for cancellation.&lt;/p&gt;&lt;p&gt;Order No: {!$Record.Name}&lt;/p&gt;&lt;p&gt;Order Amount: {!$Record.Total__c}&lt;/p&gt;&lt;p&gt;Shipping Address: {!$Record.Shipping_Address__c}&lt;/p&gt;&lt;p&gt;Estimated Delivery Date: {!$Record.Expected_Delivery_Date__c}&lt;/p&gt;&lt;p&gt;Reason for cancellation:&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>bodyoforderiscreated</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Customer__r.FirstName},&lt;/p&gt;&lt;p&gt;Your {!$Record.Name} order has been created and status is {!$Record.Status__c}. please see the detail information below.&lt;/p&gt;&lt;p&gt;Order No: {!$Record.Name}&lt;/p&gt;&lt;p&gt;Order Amount: {!$Record.Total__c}&lt;/p&gt;&lt;p&gt;Shipping Address: {!$Record.Shipping_Address__c}&lt;/p&gt;&lt;p&gt;Estimated Delivery Date: {!$Record.Expected_Delivery_Date__c}&lt;/p&gt;&lt;p&gt;Link to Order:{!recordLinks}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>bodyoforderisdelivered</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Customer__r.FirstName},&lt;/p&gt;&lt;p&gt;The {!$Record.Name} order is {!$Record.Status__c}. please see the detail information below and click the survey link we will send to fill up the survey.&lt;/p&gt;&lt;p&gt;We wish you a nice day.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>bodyoforderisinprocess</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Customer__r.FirstName},&lt;/p&gt;&lt;p&gt;The {!$Record.Name} order is {!$Record.Status__c}. please see the detail information below.&lt;/p&gt;&lt;p&gt;Order No: {!$Record.Name}&lt;/p&gt;&lt;p&gt;Order Amount: {!$Record.Total__c}&lt;/p&gt;&lt;p&gt;Shipping Address: {!$Record.Shipping_Address__c}&lt;/p&gt;&lt;p&gt;Estimated Delivery Date: {!$Record.Expected_Delivery_Date__c}&lt;/p&gt;&lt;p&gt;Payment Status: {!$Record.Payment_Method__c}&lt;/p&gt;&lt;p&gt;Link to Order: {!recordLinks}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Bodyoforderisshippedoroutfordelivery</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Customer__r.FirstName},&lt;/p&gt;&lt;p&gt;Your {!$Record.Name} order status is {!$Record.Status__c}. please see the detail information below.&lt;/p&gt;&lt;p&gt;Order No: {!$Record.Name}&lt;/p&gt;&lt;p&gt;Order Amount: {!$Record.Total__c}&lt;/p&gt;&lt;p&gt;Shipping Address: {!$Record.Shipping_Address__c}&lt;/p&gt;&lt;p&gt;Estimated Delivery Date: {!$Record.Expected_Delivery_Date__c}&lt;/p&gt;&lt;p&gt;Link to Order:{!recordLinks}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>isPaymentNotCOD</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Customer__r.FirstName},&lt;/p&gt;&lt;p&gt;This is a Payment Remiender for your {!$Record.Name} numbered order. please see the detail information below for your payment Method.&lt;/p&gt;&lt;p&gt;Order No: {!$Record.Name}&lt;/p&gt;&lt;p&gt;Order Amount: {!$Record.Total__c}&lt;/p&gt;&lt;p&gt;Payment Method: {!$Record.Payment_Method__c}&lt;/p&gt;&lt;p&gt;Link to Order:{!recordLinks}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>cancelledProductionUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Customer__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>orderItemsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>updateCancelledProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>updateProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
