force-app/main/default/flows/X1OrderAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>orderIsCancelled</name>
        <label>orderIsCancelled</label>
        <locationX>204</locationX>
        <locationY>2951</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>getCancelledOrderItems</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyoforderiscancelled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Order is {!$Record.Status__c}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>orderIsCreated</name>
        <label>orderIsCreated</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>getOrderItems</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyoforderiscreated</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Order is {!$Record.Status__c}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>orderIsdelivered</name>
        <label>orderIsdelivered</label>
        <locationX>204</locationX>
        <locationY>2615</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>isOrderCancelled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyoforderisdelivered</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Order is {!$Record.Status__c}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>orderIsInProcess</name>
        <label>orderIsInProcess</label>
        <locationX>204</locationX>
        <locationY>1943</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>isOrderShippedorOutofDelivery</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyoforderisinprocess</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Order is {!$Record.Status__c}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>orderIsShipped</name>
        <label>orderIsShipped</label>
        <locationX>204</locationX>
        <locationY>2279</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>isOrderDelivered</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyoforderiscreated</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Order is {!$Record.Status__c}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>paymentIsNotCOD</name>
        <label>paymentIsNotCOD</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>isOrderInProcess</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>isPaymentNotCOD</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Payment Remiender for your {!$Record.Name}  numbered order</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>addUpdateCancelledProductRecordToCollection</name>
        <label>addUpdateCancelledProductRecordToCollection</label>
        <locationX>292</locationX>
        <locationY>3431</locationY>
        <assignmentItems>
            <assignToReference>cancelledProductionUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateCancelledProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachCancelledProductItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addUpdateProductRecordToCollection</name>
        <label>addUpdateProductRecordToCollection</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>productupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>test</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEachCancelledProduct</name>
        <label>assignEachCancelledProduct</label>
        <locationX>292</locationX>
        <locationY>3311</locationY>
        <assignmentItems>
            <assignToReference>updateCancelledProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachCancelledProductItem.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCancelledProduct.TotalQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledItemInventoryIncrease</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCancelledProduct.RemainingQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledItemRemainingIncrease</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addUpdateCancelledProductRecordToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEachProduct</name>
        <label>assignEachProduct</label>
        <locationX>270</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>updateProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>test.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateProduct.TotalQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>test.Product__r.RemainingQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateProduct.RemainingQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityDecrease</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addUpdateProductRecordToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isOrderCancelled</name>
        <label>isOrderCancelled</label>
        <locationX>336</locationX>
        <locationY>2831</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesCancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>orderIsCancelled</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOrderCreated</name>
        <label>isOrderCreated</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>isOrderInProcess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yescreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iscreatedformula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>statusCreated</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOrderDelivered</name>
        <label>isOrderDelivered</label>
        <locationX>336</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>isOrderCancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesisOrderOutofDelivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>orderIsdelivered</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOrderInProcess</name>
        <label>isOrderInProcess</label>
        <locationX>336</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>isOrderShippedorOutofDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesinprocess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>orderIsInProcess</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOrderShippedorOutofDelivery</name>
        <label>isOrderShippedorOutofDelivery</label>
        <locationX>336</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>isOrderDelivered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesisshipped</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out for Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>orderIsShipped</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ispaymentmethodNotCOD</name>
        <label>ispaymentmethodNotCOD</label>
        <locationX>182</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>isOrderInProcess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesCOD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>COD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>paymentIsNotCOD</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cancelledItemInventoryIncrease</name>
        <dataType>Number</dataType>
        <expression>{!eachCancelledProductItem.Product__r.TotalQuantity__c}+{!eachCancelledProductItem.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>cancelledItemRemainingIncrease</name>
        <dataType>Number</dataType>
        <expression>{!eachCancelledProductItem.Product__r.RemainingQuantity__c}+{!eachCancelledProductItem.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>iscreatedformula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>quantityDecrease</name>
        <dataType>Number</dataType>
        <expression>{!test.Product__r.RemainingQuantity__c}-{!test.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>1OrderAutomation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1OrderAutomation</label>
    <loops>
        <name>eachCancelledProductItem</name>
        <label>eachCancelledProductItem</label>
        <locationX>204</locationX>
        <locationY>3191</locationY>
        <collectionReference>getCancelledOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignEachCancelledProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateCancelledProductsQuantity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>test</name>
        <label>eachProductLoop</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <collectionReference>getOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignEachProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateProductsQuantity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCancelledOrderItems</name>
        <label>getCancelledOrderItems</label>
        <locationX>204</locationX>
        <locationY>3071</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eachCancelledProductItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderItems</name>
        <label>getOrderItems</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>statusCreated</name>
        <label>statusCreated</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>orderIsCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCancelledProductsQuantity</name>
        <label>updateCancelledProductsQuantity</label>
        <locationX>204</locationX>
        <locationY>3647</locationY>
        <inputReference>cancelledProductionUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateProductsQuantity</name>
        <label>updateProductsQuantity</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>ispaymentmethodNotCOD</targetReference>
        </connector>
        <inputReference>productupdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isOrderCreated</targetReference>
        </connector>
        <object>Order1__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyoforderiscancelled</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Customer__r.FirstName},
The {!$Record.Name} order is {!$Record.Status__c}. please see the detail information below and reason for cancellation.
Order No: {!$Record.Name}
Order Amount: {!$Record.Total__c}
Shipping Address: {!$Record.Shipping_Address__c}
Estimated Delivery Date: {!$Record.Expected_Delivery_Date__c}
Reason for cancellation:</text>
    </textTemplates>
    <textTemplates>
        <name>bodyoforderiscreated</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Customer__r.FirstName},
The {!$Record.Name} order is {!$Record.Status__c}. please see the detail information below.
Order No: {!$Record.Name}
Order Amount: {!$Record.Total__c}
Shipping Address: {!$Record.Shipping_Address__c}
Estimated Delivery Date: {!$Record.Expected_Delivery_Date__c}
Link to Order:</text>
    </textTemplates>
    <textTemplates>
        <name>bodyoforderisdelivered</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Customer__r.FirstName},
The {!$Record.Name} order is {!$Record.Status__c}. please see the detail information below and click the survey link to fill up the survey.
Order No: {!$Record.Name}
Order Amount: {!$Record.Total__c}
Shipping Address: {!$Record.Shipping_Address__c}
Estimated Delivery Date: {!$Record.Expected_Delivery_Date__c}
Survey Link:</text>
    </textTemplates>
    <textTemplates>
        <name>bodyoforderisinprocess</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Customer__r.FirstName},
The {!$Record.Name} order is {!$Record.Status__c}. please see the detail information below.
Order No: {!$Record.Name}
Order Amount: {!$Record.Total__c}
Shipping Address: {!$Record.Shipping_Address__c}
Estimated Delivery Date: {!$Record.Expected_Delivery_Date__c}
Payment Status: {!$Record.Payment_Method__c}
Link to Order:</text>
    </textTemplates>
    <textTemplates>
        <name>isPaymentNotCOD</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Customer__r.FirstName},
This is a Payment Remiender for your {!$Record.Name} numbered order. please see the detail information below for your payment Method.
Order No: {!$Record.Name}
Order Amount: {!$Record.Total__c}
Payment Method: {!$Record.Payment_Method__c}
Link to Order:</text>
    </textTemplates>
    <variables>
        <name>cancelledProductionUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>orderItemsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>updateCancelledProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>updateProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
